<div class="login">
  <div class="card">
    <div class="card-body">
      <h3>Login</h3>
      <div class="intro">
        <p>Direction: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.</p>
        <p>About us: Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa.</p>
      </div>
      <div class="by-private-key">
        <input type="text" class="form-control" id="floatingInput" placeholder="Private Key" />
        <button type="button" class="btn">Login</button>
      </div>
      <div class="by-file">
        <button type="button" class="btn">Login By File</button>
      </div>
      <div class="redirect">
        <a href="/register">
          <span>Not already wallet? Create wallet.</span>
        </a>
      </div>
    </div>
  </div>
</div>