<div class="card text-center mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Login</a>
    <a href="/register">Not already wallet? Register here</a>
  </div>
</div>