<div class="wallet">
  <div class="card w-100">
    <div class="card-header">
      Wallet
    </div>
    <div class="card-body">
      <div class="d-flex">
        <h5>Balance:</h5>
        <span class="ms-2">xxx</span>
      </div>
      <div class="d-flex mt-2">
        <h5>Address:</h5>
        <span class="ms-2">xxx</span>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      My Transactions
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Type</th>
            <th scope="col">Address</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-success">
            <th scope="row">1</th>
            <td>Sent</td>
            <td>fs8f7s7f89s7f97sf8s9f79s7f98sf9s7f9s9</td>
            <td>10</td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">2</th>
            <td>Received</td>
            <td>f9s88fs789f7s97f89s7f987s8f79s7f98s79</td>
            <td>20</td>
          </tr>
          <tr class="table-secondary">
            <th scope="row">3</th>
            <td>Received</td>
            <td>f9s88fs789f7s97f89s7f987s8f79s7f98s79</td>
            <td>30</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>